/* header */

.nav {
  border-bottom: 5px solid black;
  display: flex;
  justify-content: center;
  background: white;
}

.nav a {
  text-decoration: none;
}
.nav .Pokemon {
  width: 20%;
  height: 20%;
}

/* main */

body {
  background-image: url(https://res.cloudinary.com/radiscipio/image/upload/v1566938615/ldk7yfspcamsinxsvd1r.jpg);
  background-size: cover;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.pokedex {
  margin: 30px;
}

/* footer */

.claim {
  border-top: 5px solid black;
  display: flex;
  justify-content: center;
  padding: 30px;
  background: white;
}
